#!/bin/bash

REPO=$HOME/.maven/repository

CP=target/classes

# This dependency has to come before plexus-container
CP=$CP:$REPO/plexus/jars/plexus-runtime-1.0.jar

#foreach( $dependency in $pom.dependencies )
CP=$CP:$REPO/${dependency.groupId}/jars/${dependency.artifactId}-${dependency.version}.jar
#end

java -cp $CP \
    org.codehaus.plexus.PlexusContainerHost \
    src/main/org/codehaus/plexus/continuum/plexus.conf
